@using Microsoft.AspNetCore.Http
@using MovieShop.Extensions;
@using MovieShop.Services;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var count = 0;
    var cartList = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ShoppingCart");
    if (cartList != null)
    {
        count = cartList.Count();
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieShopDesign</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieShopDesign.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- MenuBar-->
    




     <div id="menubar" class="bg-black">
        <nav class="navbar navbar-dark bg-black">
            <form class="form-inline">
                <img src="~/Images/Title.jpg" style="width:100px;height:70px" />
                <button class="btn btn-black bg-gradient text-white fs-6" href="#">Home</button>

                <button class="btn bg-black bg-gradient btn-sm text-white fs-6" asp-controller="Customers" asp-action="Create">
                    Register
                </button>
                <button class="btn bg-black btn-sm bg-gradient text-white fs-6" asp-controller="Customers" asp-action="CustomerMenu">
                    Update/Register Customer
                </button>

                <button class="btn bg-black bg-gradient text-white fs-6" asp-controller="Movies" asp-action="Details">
                    Complete Movie List
                </button>
               
                <button class="btn bg-black  bg-gradient text-white fs-6" id="dropdownMenuButton" asp-controller="Movies" asp-action="Menu">
                    Administrator
                </button>
                <button id="cart" type="button" class="btn btn-black text-white text-end" href="/cart/DisplayCart">
                    Cart <span id="cartCount" class="badge badge-white bg-danger">@count</span>
                </button>
            </form>

        </nav>
    </div>  
    <hr />
    <!-- Body -->
    <div id="bodytop" class="text-white border border-1">
        @{
            var comedy = "Comedy";
            var romance = "Romance";
            var scifi = "Sci-Fi";
            var thriller = "Thriller";
            var horror = "Horror";
            var drama = "Drama";
        }
        Search by Category : &nbsp;

        <a class="btn btn-black text-white bg-gradient" href="/Movies/GenreBasedMovies?genre=@comedy">
            Comedy
        </a>&nbsp;
        <a class="text-white btn btn-black bg-gradient" href="/Movies/GenreBasedMovies?genre=@romance">
            Romance
        </a>&nbsp;
        <a class="text-white btn btn-black bg-gradient" href="/Movies/GenreBasedMovies?genre=@scifi">
            Sci-Fi
        </a>&nbsp;
        <a class="text-white btn btn-black bg-gradient" href="/Movies/GenreBasedMovies?genre=@thriller">
            Thriller
        </a>&nbsp;
        <a class="text-white btn btn-black bg-gradient" href="/Movies/GenreBasedMovies?genre=@horror">
            Horror
        </a>&nbsp;
        <a class="text-white btn btn-black bg-gradient" href="/Movies/GenreBasedMovies?genre=@drama">
            Drama
        </a>&nbsp;
        &nbsp;&nbsp;&nbsp;
        Expensive Customer :
    </div>

    <div id="body" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-black">
        <div id="footer_left" class="btn btn-default btn-lg text-white">
            Copyright Interstellar Movie Shop<br />
            2024 Some Rights Reserved.<br />
        </div>
        <div id="footer_left">          
            <img id="corousel_img" src="~/Images/böackfriday.jpg" class="d-block w-75" alt="...">                 
        </div>
    </footer>
 
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

<style>

    /* body {
            width: 1024px;
            height: 400px;
            margin: 0 auto 0;
        } */

    #menubar {
        width: 100%;
        height: 70px;
    }

    #bodytop {
        width: 100%;
        height: 50px;
        padding: 5px 0px 0px 10px;
        background-color: black;
    }

    #body {
        margin-bottom: 60px;
        width: 100%;
        height: 8´900px;
        margin: 0 auto 0;
    }

    #cart {
        padding-left: 130px;
    }


    footer {
        width: 100%;
        height: 100px;
        float: left;
        margin-top: 5px;
    }

    #footer_left {
        width: 40%;
        height: 100%;
        float: left;
    }

    #footer_right {
        width: 50%;
        height: 100%;
        float: right;
        margin-left: 30px;
    }

    #corousel_img {
        padding: 10px 0px 0px 30px;
        height: 90px;
        width: 50px;
    }

</style>

@* <script>
    window.onbeforeunload = function () {
        localStorage.setItem(count, $('#cartCount').val());
    }
    window.onload = function () {
        var count = localStorage.getItem(count);
        if (count !== null) $('#cartCount').val(name);
    }
</script> *@

