@{
    ViewData["Title"] = "Home Page";
}


    @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> *@
<hr class="border border-primary border-2 opacity-75">

<div class="text-center">
    <h1 class="display-4">5 Newest Movies</h1>
</div>
<hr class="border border-primary border-2 opacity-75">

<div class="text-center">
    <h1 class="display-4">5 Oldest Movies</h1>
</div>
<hr class="border border-primary border-2 opacity-75">

<div class="text-center">
    <h1 class="display-4">Most Expensive Order from Customer</h1>
</div>
<hr class="border border-primary border-2 opacity-75">

<div class="text-center">
    <h1 class="display-4">Top Customer</h1>
</div>
<hr class="border border-primary border-2 opacity-75">
