@{
    ViewData["Title"] = "Home Page";
}

<div id="header" class="bg-black">
    <div id="header_left" class="fn font-monospace align-text-bottom fs-2 text-info">
        <header>
            <img src="" width="110" height="110" />
           Interstellar Movie Shop
        </header>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Most Popular Movies</h1>
</div>
<div class="text-center">
    <h1 class="display-4">5 Newest Movies</h1>
</div>
<div class="text-center">
    <h1 class="display-4">5 Oldest Movies</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Most Expensive Order from Customer</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Top Customer</h1>
</div>
