@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="div" class="col-sm-3 card" style="width: 17rem;">
    <img src="/images/pwdfail.jpg" />
    <br />
    <div class="card-body bg-dark col-sm-9">
        <h5 class="card-title text-white">Access Denied</h5>
    </div>
</div>

<style>
    #div {
        margin-top: 40px;
        margin-left: 250px;
        align-items: center;
        font-family: 'Comic Sans MS';
    }
</style>