@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-sm-12" id="title">
    &nbsp; Create Customer Details
</div>
<br />

<div style="width:400px">

    <form name="createform" asp-action="CreatingNewCustomer" method="post" style="width:300px;padding-left:30px;">

        <div class="form-group">
            <label for="FirstName" class="control-label">
                <strong>FirstName</strong>
            </label>
            <input name="FirstName" id="FirstName" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="LastName" class="control-label">
                <strong>LastName</strong>
            </label>
            <input id="LastName" name="LastName" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="BillingAddr" class="control-label">
                <strong>Billing Address</strong>
            </label>
            <input id="billingaddr" name="billingaddr" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label name="billingzip" for="BillingZip" class="control-label">
                <strong>Billing Zip</strong>
            </label>
            <input id="billingzip" name="billingzip" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="BillingCity" class="control-label">
                <strong>Billing City</strong>
            </label>
            <input id="billingcity" name="billingcity" class="form-control" />
        </div>&nbsp;

        <p>
            Delivery Address is same as Billing Address? &nbsp;
            <strong>
                <input type="radio" id="yes_addr" name="yes_addr" value="YES" onclick="yesfunction()">
                <label for="html">YES</label><br>
            </strong>
        </p>

        <div class="form-group">
            <label for="DeliveryAddr" class="control-label">
                <strong>Delievery Address</strong>
            </label>
            <input id="deliveryaddr" name="deliveryaddr" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="DeliveryZip" class="control-label">
                <strong>Delivery Zip</strong>
            </label>
            <input id="deliveryzip" name="deliveryzip" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="DeliveryCity" class="control-label">
                <strong>Delivery City</strong>
            </label>
            <input id="deliverycity" name="deliverycity" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="EmailAddr" class="control-label">
                <strong>Email Address</strong>
            </label>
            <input id="EmailAddr" name="EmailAddr" class="form-control" />
        </div>&nbsp;

        <div class="form-group">
            <label for="PhoneNo" class="control-label">
                <strong>Phone Number</strong>
            </label>
            <input id="PhoneNo" name="PhoneNo" class="form-control" />
        </div>&nbsp;&nbsp;
        <hr />
        <div class="form-group">
            <button type="submit" class="btn bg-dark bg-gradient text-white" asp-controller="Cart" asp-action="CreateNewCustomer">
                Create
            </button>
        </div>

    </form>
</div>
<hr />
<style>
    #title {
        height: 25px;
        background-color: dimgray;
        color: white;
        font-weight: bold;
        margin-top : 30px;
    }
</style>