@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "Details";
}

<h1>Display All Movies</h1>
<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-6">
    <partial name="_MoviePartial" model="item" />
    </div>
}
</div>
<div>
    <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="DisplayCart">Go to Cart</a>
</div>