@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "Details";
}

<h1>Display All Movies</h1>

@foreach (var item in Model)
{
    <partial name="_MoviePartial" model="item" />  
}
