@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "Details";
}

<br />
<br />
<div class="col-sm" id="title">
    &nbsp; Movie List
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-9">
            <partial name="_MoviePartial" model="item" /><br />
        </div>
    }
</div>
<div>
    <a class="btn btn-danger" asp-controller="Cart" asp-action="DisplayCart">Go to Cart</a>
</div>

<style>
    #title {
        height: 25px;
        background-color: dimgray;
        color: white;
        font-weight: bold;
    }
</style>