@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "Details";
}

<h1>Display All Movies</h1>

<p>
    <a asp-action="Details">Create New</a>
</p>

@foreach (var item in Model)
{

    <partial name="_MoviePartial" model="item" />
   
}
