@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
        
                <partial name="_MoviePartial" model="@item" />
           <button>+</button>

    <button>-</button>
   
}

