@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "Display";
}
<br />
<br />
<div style="width:900px;height:25px;background-color:dimgray; color:white;font-weight:bold">
    Genre Based Movie List
</div>
<br />


<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <partial name="_MoviePartial" model="item" /><br />
        </div>
    }
</div>

<hr />
<div style="background-color:black; width:100%">
    <a class="btn btn-black bg-gradient text-white" asp-controller="Cart" asp-action="DisplayCart">Go To Cart</a>
</div>