@model IEnumerable<MovieShop.Models.Db.Movie>

@{
    ViewData["Title"] = "List";
}


<br />
<br />
<div style="width:900px;height:25px;background-color:dimgray; color:white;font-weight:bold">
    Movie List
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <partial name="_MoviePartial" model="item" /><br />
        </div>
    }
</div>

<hr />
<div>
    @if (ViewBag.Page > 1)
    {
        <a class="btn btn-sm btn-secondary" href="?page=@(ViewBag.Page - 1)&length=@ViewBag.Length"> Previous </a>
    }

    <span class="fw-bold text-bg-info">
        &nbsp;&nbsp; Page @ViewBag.Page of
        @(Math.Ceiling((decimal)ViewBag.TotalCount / ViewBag.Length))
    </span> &nbsp;&nbsp;

    @if(ViewBag.Page < 
    Math.Ceiling((decimal)ViewBag.TotalCount / ViewBag.Length))
    {
        <a class="btn btn-sm btn-secondary" href="?page=@(ViewBag.Page + 1)&length =@ViewBag.Length"> Next </a>

    }

    <a id="gotocart" class="btn btn-danger" asp-controller="Cart" asp-action="DisplayCart">Go to Cart</a>    
   
</div>

<style>
    #gotocart{
        margin-left:450px;
    }
</style>