@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<button>
    Create Movie
</button>

<button class="btn bg-black bg-gradient text-white fs-6"  asp-controller="Movies" asp-action="Create">
   Creating Movie
</button>

<button class="btn bg-black bg-gradient text-white fs-6"  asp-controller="Movies" asp-action="Update">
    Update Movie
</button>

<button class="btn bg-black bg-gradient text-white fs-6" asp-controller="Movies" asp-action="">
    View Orders Details
</button>