@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="div" class="card" style="width: 25rem;">
    <img src="~/Images/filmRoll.jpg" class="card-img-top" style="height:150px; width:150px" />
    <br />
    <div class="card-body bg-dark">
        <h5 class="card-title text-white">Successfully Movie Updated</h5>
    </div>
</div>

<style>
    #div {
        margin-top: 200px;
        margin-left: 200px;
        align-items: center;
        font-family: 'Comic Sans MS';
    }
</style>