@model MovieShop.Models.Db.Customer

@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-12" id="title">
    &nbsp; Create Customer Details
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <form name="createform" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <strong>
                <label asp-for="Firstname" class="control-label"></label>
                </strong>
                <input asp-for="Firstname" class="form-control"/>
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="Lastname" class="control-label"></label>
                </strong>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="BillingAddress" class="control-label"></label>
                </strong>
                <input name="billingaddr" asp-for="BillingAddress" class="form-control" />
                <span asp-validation-for="BillingAddress" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="BillingZip" class="control-label"></label>
                </strong>
                <input name="billingzip" asp-for="BillingZip" class="form-control" />
                <span asp-validation-for="BillingZip" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="BillingCity" class="control-label"></label>
                </strong>
                <input name="billingcity" asp-for="BillingCity" class="form-control" />
                <span asp-validation-for="BillingCity" class="text-danger"></span>
            </div>&nbsp;

            <p>Delivery Address is same as Billing Address? &nbsp;
            <strong><input type="radio" id="yes_addr" name="yes_addr" value="YES" onclick="yesfunction()">
            <label for="html">YES</label><br>
            </strong>
            </p>

            <div class="form-group">
                <strong>
                <label asp-for="DeliveryAddress" class="control-label"></label>
                </strong>
                <input name="deliveryaddr" asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="DeliveryZip" class="control-label"></label>
                </strong>
                <input name="deliveryzip" asp-for="DeliveryZip" class="form-control" />
                <span asp-validation-for="DeliveryZip" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="DeliveryCity" class="control-label"></label>
                </strong>
                <input name="deliverycity" asp-for="DeliveryCity" class="form-control" />
                <span asp-validation-for="DeliveryCity" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="EmaillAddress" class="control-label"></label>
                </strong>
                <input asp-for="EmaillAddress" class="form-control" />
                <span asp-validation-for="EmaillAddress" class="text-danger"></span>
            </div>&nbsp;
            <div class="form-group">
                <strong>
                <label asp-for="PhoneNo" class="control-label"></label>
                </strong>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>&nbsp;
            <hr />
            <div class="form-group">
                <input type="submit" value="Register" class="btn bg-black bg-gradient text-white fs-6" />
            </div>
        </form>
    </div>
</div>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #title {
        height: 25px;
        background-color: dimgray;
        color: white;
        font-weight: bold;
    }
</style>