@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="maindiv" class="col-sm-12">
    <div id="border"></div>
    <div id="title" class="align-middle text-white">
        <h6 style="color:darkgoldenrod">
        &nbsp; Customer Functionalities</h6>
        <hr />
        <a class="btn bg-gradient text-white" asp-controller="Customers" asp-action="EnterEmail">
            Update Details
        </a><hr />
        <a class="btn bg-gradient text-white" asp-controller="Customers" asp-action="CustomerEmail">
            View Orders
        </a>
    </div>
    <div id="border"></div>
</div>
<style>
    #title {
        background-color: black;
        padding: 10px 0px 0px 5px;
        font-weight: bold;
    }

    #maindiv {
        width: 25%;
        margin: 50px 0px 50px 200px;
    }

    #border {
        height: 15px;
        background-color: darkgoldenrod;
    }
</style>


@* <div id="border" class="col-sm-3"></div>

<div id="title" class="align-content-center col-sm-3 text-white">
    Customer Functionalities
    <div id="menudiv" class="col-md-6">
        <a class="btn bg-gradient text-white fw-bold" asp-controller="Customers" asp-action="EnterEmail">
            Update Customer
        </a>
        <a class="btn bg-gradient text-white fw-bold" asp-controller="Customers" asp-action="CustomerEmail">
            View Orders
        </a>
    </div>
</div>

<div id="border" class="col-md-6"></div>
<br />
<br />
<br />

<style>
    #title {
        background-color: black;
        width: 900px;
        height: 70px;
        margin-left: 0px;
        padding-left: 5px;
        font-weight: bold;
    }

    #menudiv {
        margin-left: 600px;
    }

    #img1 {
        margin-left: 300px;
    }

    #border {
        width: 1000px;
        height: 15px;
        margin: 40px 0px 10px 0px;
        background-color: darkgoldenrod;
    }
</style> *@
