
@{
    ViewData["Title"] = "CustomerEmail";
}

<br />
<br />
<div class="col-sm-3" id="title">
    View Customer Order Details
</div>
<br />
<div style="height:300px; width:400px" class="col-sm-3">
    <form asp-controller="Customers" asp-action="CustomerOrders" method="post">
        <div class="form-group">
            <strong><label for="Email">EmaillAddres</label></strong>&nbsp;
            <input type="email" id="Email" name="Email" class="form-control" required />
        </div>
        <br />
        <button type="submit" class="btn bg-black  bg-gradient text-white fs-6">submit</button>
    </form>
</div>

<style>
    #title {
        width: 1000px;
        height: 25px;
        background-color: dimgray;
        color: white;
        font-weight: bold;
    }
</style>
@* <form asp-controller="Customers" asp-action="CustomerOrders" method="post">
    <div class="form-group">
        <label for="Email"> Email Address</label>
        <input type="email" id="Email" name="Email" class="form-control" required />
    </div>
    <button type="submit" class="btn-success"> submit</button>
</form> *@


