
@{
    ViewData["Title"] = "EnterEmail";
}

<br />
<br />
<div style="width:900px;height:25px;background-color:dimgray; color:white;font-weight:bold">
    Update Customer Details
</div>
<br />
<div style="height:300px; width:400px">
    <form asp-action="UpdateCustomer">
        <div class="form-group">
            <strong><label for="Email">EmaillAddres</label></strong>&nbsp;
            <input type="email" id="Email" name="Email" class="form-control" required />
        </div>
        <br />
        <button type="submit" class="btn bg-black  bg-gradient text-white fs-6">submit</button>
    </form>
</div>


