
@{
    ViewData["Title"] = "EnterEmail";
}

<h1>EnterEmail</h1>


<form asp-action="UpdateCustomer">
    <div class="form-group">
        <label for="Email"> Enter EmaillAddres</label>
        <input type="email" id="Email" name="Email" class="form-control" required />
    </div>
    <button type="submit" class="btn-success"> submit</button>
</form>

